body {
    background-color: #282d30;
}

.cloud-image {
    background-color: grey;
    background : linear-gradient();
    background-image: linear-gradient(from top, #7a7e81 0%, #282d30 100%);
}

/* @media (min-width: 768px) {
    .cloud-image{
        height: 100%;
    }

    .vg-image-container {
        margin-top: 120rem;
    }


}

@media (min-width: 1024px) {

}

@media (min-width: 1254px) {

} */